<%= render 'list', user: @user %>


<h2>Books</h2>]
<div class="container">
  <div class="row">
    <table class="table">
      <therd>
        <tr>
          <th colspan="1" ></th>
          <th>Title</th>
          <th>Option</th>
        </tr>
      </therd>
      <tbody>
        <tr>
          <%= @books.each do |book| %>
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>